CNN/ClassName=org.apache.activemq.ActiveMQConnectionFactory
CNN/FactoryName=org.apache.activemq.jndi.JNDIReferenceFactory
CNN/RefAddr/0/Type=brokerURL
CNN/RefAddr/0/Content=<%= @broker_url %>
CNN/RefAddr/0/Encoding=String
CNN/RefAddr/1/Type=password
CNN/RefAddr/1/Content=manager
CNN/RefAddr/1/Encoding=String
CNN/RefAddr/2/Type=userName
CNN/RefAddr/2/Content=system
CNN/RefAddr/2/Encoding=String

CNN_SCHEDULE_TO_PUB/ClassName=org.apache.activemq.command.ActiveMQQueue
CNN_SCHEDULE_TO_PUB/FactoryName=org.apache.activemq.jndi.JNDIReferenceFactory
CNN_SCHEDULE_TO_PUB/RefAddr/0/Content=CNN_SCHEDULE_TO_PUB
CNN_SCHEDULE_TO_PUB/RefAddr/0/Encoding=String
CNN_SCHEDULE_TO_PUB/RefAddr/0/Type=physicalName

LMS_CNN/ClassName=org.apache.activemq.command.ActiveMQQueue
LMS_CNN/FactoryName=org.apache.activemq.jndi.JNDIReferenceFactory
LMS_CNN/RefAddr/0/Content=LMS_CNN
LMS_CNN/RefAddr/0/Encoding=String
LMS_CNN/RefAddr/0/Type=physicalName
