# Replacement variables:
#
# logging_level
#
log4j.rootCategory=<%= @defaultLogCategory %>,loki, stats
log4j.appender.loki=org.apache.log4j.RollingFileAppender
#log4j.appender.loki=org.apache.log4j.ConsoleAppender

log4j.appender.loki.File=<%= @logFileName %>
log4j.appender.loki.MaxFileSize=5MB
log4j.appender.loki.MaxBackupIndex=30
log4j.appender.loki.layout=org.apache.log4j.PatternLayout
log4j.appender.loki.layout.ConversionPattern=[%d] %p %t %c - %m%n

log4j.logger.org.apache.commons.beanutils=WARN
log4j.logger.org.mortbay=INFO
log4j.logger.org.hibernate=WARN
log4j.logger.org.apache.activemq.transport.InactivityMonitor=WARN
log4j.logger.com.turner.loki.PoolablePluginManager=INFO

log4j.appender.stats=com.turner.loki.log4j.LogStatsAppender
log4j.appender.stats.property=CNN
log4j.appender.stats.reportServer=subscriber10
log4j.appender.stats.reportPort=8811
log4j.appender.stats.reportPath=/jaxrs/statsCollector
log4j.appender.stats.cronSchedule=0 0/20 * * * ?
log4j.appender.stats.loggers=<loggers><logger type="in" actionName=“retrieveCNNSchedule"><expr>^url [http</expr></logger></loggers>
log4j.appender.stats.layout=org.apache.log4j.PatternLayout
log4j.appender.stats.layout.ConversionPattern=[%d] %p %t %c - %m%n
